body {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}

.top-section1 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}

.top-section1 h2 {
  text-align: center;
}

.weather-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-day {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
}

.weather-day h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

tr {
  font-weight: bold;
}

td {
  text-align: center;
  /* background-color: pink; */
}

.day-title {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

/* current weather */
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  border: 1px solid #ddd;
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: rgb(253, 253, 253, 0.5);
  width: 50%;
  margin: 40px auto;
}

.weather-info h3 {
  font-weight: bold;
}

.weather-info h3 span:first-child {
  font-size: 55px;
  font-weight: 500;
  
}

.weather-info .temp-unit {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: -14px;
  
}
.weather-info p span{
  margin-bottom: 10px;
  
  font-weight: bold;
}



.hidden {
  display: none;
}

.see-more-btn {
  background-color: #4CAF50; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 22px 0;
}

.see-more-btn:hover {
  background-color: #3e8e41; 
}

.see-more-btn:active {
  background-color: #2e6d31; 
}